.clients-list {

	margin-top: -30px;
	margin-right: -30px;
	@media screen and (max-width: 480px) {
		display: flex;
		flex-wrap: wrap;
	}
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}
	
	// max-width: 450px;
}

.client {
	@extend %flex;
	
	margin-top: 30px;
	margin-right: 30px;
	box-sizing: border-box;
	// width: 210px;
	// height: 92px;

	&__link{
	display: block;
	padding: 16px 50px;

	// width: 210px;
	// height: 92px;
	
	color: $link-icon-fill;
	border: 1px solid $link-icon-fill;
	border-radius: 4px;
	
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	

		&:hover,
		&:focus {
		color: $conditions-color;
		border-color: $conditions-color;
		} 
	}  
	&__icon {
	fill: currentColor;
	}


	@media screen and (max-width: 480px) {
		flex-basis: calc((100% - 2 * 30px) / 2);
	}

	@media screen and (min-width: 768px) {
		flex-basis: 100% / 3;
	}
    // &:not(:last-child) {
	// margin-right: 30px;
    // }
}



