// <section class="section-exp">
//         <div class="container-exp">
//           <ul class="list-exp">
//             <li class="item-exp"></li>
//             <li class="item-exp"></li>
//             <li class="item-exp"></li>
//           </ul>
//         </div>
//       </section>


.section-exp {
    background-color: antiquewhite;
    border: 1px solid palevioletred;

    padding-top: 60px;
	padding-bottom: 60px;
}

.container-exp {
    padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;

    background-color: salmon;
    border: 1px solid purple;
    
    @media screen and (min-width: 480px) {
		width: 480px;
	}
}


.list-exp {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
	margin-right: -30px;
}

.item-exp {
    display: block;
    margin-top: 30px;
	margin-right: 30px;
	box-sizing: border-box;
    width: 212px;

    background-color: paleturquoise;
    border: 1px solid blue;
    border-radius: 4px;

    @media screen and (max-width: 480px) and (max-width: 767px) {
		flex-basis: calc((100% - 2 * 30px) / 2);
	}
    @media screen and (min-width: 481px) and (max-width: 767px) {
            flex-basis: calc((100% - 2 * 30px) / 2);
        }
    @media screen and (min-width: 768px) {
		flex-basis: calc((100% - 3 * 30px) / 3);
	}
}

.client__link{
	display: block;
	padding: 16px 50px;

	// width: 210px;
	// height: 92px;
	
	color: $link-icon-fill;
	border: 1px solid $link-icon-fill;
	border-radius: 4px;
	
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
 
}  
.client__icon{
	display: block;
    padding: 0;
    margin: 0;
}


.container {
	// width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;

	// @media screen and (min-width: 480px) {
	// 	width: 480px;
	// }
	// @media screen and (min-width: 768px) {
	// 	width: 768px;
	// }
	// @media screen and (min-width: 1200px) {
	// 	width: 1200px;
	// }
}

.section {
	// width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;

	// @media screen and (min-width: 480px) {
	// 	padding-top: 60px;
	// 	padding-bottom: 60px;
	// }
	// @media screen and (min-width: 768px) {
	// 	padding-top: 60px;
	// 	padding-bottom: 60px;
	// }
	// @media screen and (min-width: 1200px) {
	// 	padding-top: 94px;
	// 	padding-bottom: 94px;
	// }
}