/* features */
// .section--no-bottom-marg {
// 	padding-bottom: 0;
// }

.container__title--hidden {
    @extend %visually-hidden;
}

 
@media screen and (min-width: 768px) {
	.features-list {
		display: flex;
		flex-basis: calc(100%/2);
	}
		
}

.feature-card {
	&:not(:last-child){
	margin-bottom: 30px;
	}

	@media screen and (min-width: 768px) {
		& {
		flex-basis: calc(100%/2);
		}
		&:not(:nth-child(2n)){
		margin-right: 30px;
		}
	}

	&__box {
	@extend %flex;

	width: 450px;
	max-width: 100%;
	height: 120px;
	margin-bottom: 30px;

	border-radius: 4px;
	background-color: $background-color-blocks;

		@media screen and (min-width: 480px) {
			width: 450px;
		}
		@media screen and (min-width: 768px) {
			width: 354px;
		}
		@media screen and (min-width: 1600px) {
			width: 270px;
		}
		
	}

	&__title {
	margin-bottom: 10px;
	@extend %title;
	}

// .feature-card {
// 	margin-right: 30px;
// 	flex-basis: calc(100%/4);
//     &:not(:last-child){
	
// 	}	
// }

	// &__icon {
	// width: 100%;

	// border-radius: 4px;
	// background-color: $background-color-blocks;
	// } 

	&__title {
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;

		@extend %title;
	}

	&__description {
		line-height: 1.71;
		font-weight: 400;
	}

}

