/* Модальное окно */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: $background-color-modal;

	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal {
	position: absolute;

	padding: 40px;
	width: 450px;
	height: 609px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);

	background-color: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.5);
}

.button-close {
	position:absolute;
	top: 8px;
	right: 8px;
	
	@extend %flex;
	
	width: 30px;
	height: 30px;
	padding: 0;
	
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 50%;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus  {
	fill: $conditions-color;
    }
	cursor: pointer;
}


.form-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-modal__title {
	margin-top: 0;
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.03em;

	color: $headers-color;
}

.form-field {
	position: relative;
	display: flex;
	flex-direction: column;

	margin-bottom: 10px;
}

.form-field__label,
.form-field__text,
.textarea__text  {
	margin-bottom: 4px;

	font-size: 12px;
	font-weight: 400;
	line-height: 1.17;

	letter-spacing: 0.01em;

	color: $text-color;
}

.form-field__input,
.textarea__box {
	width: 370px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.form-field__input {
	height: 40px;
	padding: 0 42px;
    margin: 0;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	cursor: pointer;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
	border-color: $conditions-color;
    }
}


.textarea__box {
	display: block;

	resize: none;
	height: 120px;
	padding: 12px 16px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
	font-size: 14px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
    }

	.textarea:hover &,
	.textarea:focus  &{
	border-color: $conditions-color;
	}
}

.textarea__text {
	cursor: pointer;
	display: inline-block;
	margin-bottom: 4px;
}

.textarea {
	display: block;
	line-height: 1.17;
	margin-bottom: 20px;
}



.form-field__icon {
	position: absolute;
	top: 29px;
	left: 12px;

	cursor: pointer;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover .form-field__icon {
	fill: $conditions-color;
}

.form-field:focus-within .form-field__icon {
	fill: $conditions-color;
}

.form-field--check {
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
	margin-bottom: 30px;

	width: 370px;
}


.form-field__checkbox {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
}


.form-field__checkbox-link {
	color: $conditions-color;
}

.form-field__icon-policy {
	display: inline-block;
	width: 16px;
	height: 15px;

	border: 2px solid $headers-color;
	border-radius: 2px;
	margin-right: 7px;

	cursor: pointer;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.form-field__checkbox:checked + &{
	background-color: $conditions-color;
	background-image: url('../images/repeta-icon-opt.svg');
	background-size: contain;
	background-origin: border-box;
	background-repeat: no-repeat;

	border-radius: 2px;
	border-color: $conditions-color;
	}
}

.check-policy {
	font-size: 12px;
	line-height: 1.17;

	letter-spacing: 0.03em;
}
