
body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: $text-color;
	background-color: $background-color-main;
    
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

label {
	padding: 0;
	margin: 0;
}


a {
	text-decoration: none;
	font-style:normal;
	color: $text-color;
}