.container {
	// width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
	overflow-x: hidden;

	@media screen and (min-width: 480px) {
		width: 480px;
	}
	@media screen and (min-width: 768px) {
		width: 768px;
	}
	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}

.section {
	// width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 480px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media screen and (min-width: 768px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}


.container--center {
	text-align: center;
}

.container__title{
	@extend %section-title;
	@extend %title;
}
