    $text-color: #757575;
	$headers-color: #212121;
    $reverse-text-color: #FFFFFF;

    $background-color-main: #FFFFFF;
	$background-color-blocks: #F5F4FA;
	$background-color-dark: #2F303A;
	$background-color-modal: rgba(0, 0, 0, 0.2);

	$link-icon-fill: #AFB1B8;
	$link-icon-revfill: #FFFFFF;

	$conditions-color: #2196F3;
	$conditions-subcolor: #FFFFFF;

	@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
	